---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import { ExternalLink } from 'lucide-astro';
import { themeConfig } from '../config';

const pageTitle = "Home";

const stream = await getCollection('stream');
const sorted = stream.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<BaseLayout pageTitle={pageTitle}>
  <div class="site-description">
    <h1>{themeConfig.site.title}</h1>
    <p>{themeConfig.site.description}</p>
  </div>

  <h2>Stream</h2>
  {sorted.length === 0 && <p>No posts yet.</p>}

  <ul class="post-list">
    {sorted.map(async (post) => {
      const { Content } = await post.render();
      const hasLink = !!post.data.link;
      return (
        <li>
          <div class="stream-header">
            {hasLink ? (
              <a href={post.data.link} target="_blank" rel="noopener noreferrer">
                <span class="title">{post.data.title} <ExternalLink size={14} class="link-icon" /></span>
                <span class="line"></span>
                <time datetime={post.data.date.toISOString()}>
                  {post.data.date.toLocaleDateString('en-US', {
                    month: 'short',
                    day: 'numeric',
                    year: 'numeric'
                  })}
                </time>
              </a>
            ) : (
              <a href={`/stream/${post.slug}`}>
                <span class="title">{post.data.title}</span>
                <span class="line"></span>
                <time datetime={post.data.date.toISOString()}>
                  {post.data.date.toLocaleDateString('en-US', {
                    month: 'short',
                    day: 'numeric',
                    year: 'numeric'
                  })}
                </time>
              </a>
            )}
          </div>
          <div class="stream-content">
            <article class="prose">
            <Content />
            </article>
          </div>
          <hr />
        </li>
      );
    })}
  </ul>
</BaseLayout>

<style>
  .stream-header {
    margin-bottom: 1rem;
  }

  .stream-content {
    margin-bottom: 1rem;
  }

  .stream-content p:first-child {
    margin-top: 0;
  }

  .stream-content p:last-child {
    margin-bottom: 0;
  }
</style>
